@media screen and (max-width:800px){
	.band-img-item{
		min-width: 100%;

	}

	.band-img{
		gap: 30px;
		width: 100%;
	}

	.tour-list{
		min-width: 90%;
	}

	.tour-card-item{
		width: 80%;
	}

	.contact-container{
		flex-direction: column;
		width: 100%;
		gap: 30px;
		text-align: center;
	}
	.contact-address{
	}
}


@media screen and (max-width:500px){
	.right-nav{
		display: none;
	}
	#navmenu{
		display: block;
		margin-left: auto;
	}

	.left-nav{
		background: black;
/*		margin:10px;*/
		width: 100%;
		flex-direction: column;
		position: absolute;
		top: 0px;
		z-index: -1;
		left: -100%;
		align-items: flex-start;
		transition: all .3s ease-out;
	}

	.active{
		left: 0;
	}
}