@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap');

/*
Avalable font families - - - 

font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root{
	--heading-color:black;
	--main-shadow:0px 0px 10px black;
	--main-heading:3rem;
	--main-font:'Roboto',sans-serif;
	--btn-font:'PT Sans', sans-serif;
}

.main-btn{
	display: inline-block;
	padding: 10px 20px;
	background: black;
	color: white;
	font-family: var(--btn-font);


}
.flex{
	display: flex;
	align-items: center;
}

.container{
	max-width: 980px;
	margin: 0 auto;
}

.italic{
	font-style: italic;
}


p{
	font-size: 1rem;
	line-height: 28px;

}


a{
	text-decoration: none;
}


nav{
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
	background: black;
	position: sticky;
	top: 0;
	box-shadow: var(--main-shadow);
/*	padding: 0px 10px 0px 0px;*/
	height: 50px;



}

.left-nav{
/*	background: red;*/
	width: 80%;
	padding: 11px;
	list-style-type: none;
	justify-content: flex-start;
	gap: 30px;

}


.left-nav ul li{
	padding: 10px;

}

.left-nav li a{
	color: white;
	padding: 13px;
	font-weight: light;
}

.left-nav li a:hover{
	background: red;
	color: black;
}

.right-nav a{
	color: white;
	padding: 10px 15px;
	font-size: 1.2rem;

}

.right-nav a:hover{
	background: red;
	color: black;
}

/*banner image section*/

.banner{
	background: url('img/asset 0.jpeg') no-repeat;
	background-size: cover;
/*	overflow: hidden;*/
/*	position: absolute;*/
	min-height: 100vh;

}


/*band section*/

.band{
	padding: 90px 20px 70px 20px;
	text-align: center;
}

.band-text{
/*	background: red;*/
	padding: 30px;
}

.band-text h1{
	font-family: var(--main-font);
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 2.2rem;
	margin-bottom: 20px;
}

.band-text span{
	font-size: 1.2rem;
	color: grey;
}

.band-text p{
	margin-top: 10px;
	line-height: 20px;
	text-align: justify;
	font-family: 'Poppins',sans-serif;
}


.band-img{
	font-family: var(--main-font);

	justify-content: space-evenly;


}

.band-img-item{
	width: 20%;

}

.band-img-item h3{
		font-weight: lighter;
		font-size: 1rem;
}

.band-img-item img{
	width: 100%;
	border-radius: 6px;
/*	box-shadow: var(--main-shadow);*/
}




.tour{
	background: black;
	color: white;
	padding: 70px 20px 80px 20px;
/*	text-align: center;*/

}

.tour-text{
	text-align: center;

}

.tour-text h1{

	font-family: var(--main-font);
	letter-spacing: 2px;
	font-size: 2.5rem;
	font-weight: lighter;

}

.tour-text span{
	color: grey;

}


.tour-list{
	background:white;
	color: black;
	width: 70%;
/*	border: 0.5px solid grey;*/
	margin: 0 auto;
	margin-bottom:30px;
	font-family: 'Poppins',sans-serif;
	font-weight: light;

}

.tour-list ul{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	list-style-type: none;
}

.tour-list ul li{
	width: 100%;
	border: 1px solid grey;
	padding: 10px;
}



.tour-card{
	display: flex;
	justify-content: space-evenly;
	align-items: center;


}


.tour-card-item{
	background: white;
	width: 25%;
	color: black;
	font-family: var(--main-font);


}

.tour-card-item img{
	width: 100%;
	background-size: cover;
}


.tour-card-item h4,span,p,a{
		padding: 10px 10px;

}


.tour-card-item a{
	margin: 10px;
}









