@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap');

/*
Avalable font families - - - 

font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}


:root{
	--heading-color:black;
	--main-shadow:0px 0px 10px black;
	--main-heading:3rem;
	--main-font:'Roboto',sans-serif;
	--btn-font:'PT Sans', sans-serif;
}

.main-btn{
	display: inline-block;
	padding: 10px 20px;
	background: black;
	color: white;
	font-family: var(--btn-font);
	transition: 0.4s ease-out;


}

.main-btn:hover{
	background: grey;

}
.flex{
	display: flex;
	align-items: center;
}

.container{
	max-width: 980px;
	margin: 0 auto;
}

.italic{
	font-style: italic;
}


p{
	font-size: 1rem;
	line-height: 28px;

}


a{
	text-decoration: none;
}


nav{
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
	background: black;
	position: sticky;
	top: 0;
	box-shadow: var(--main-shadow);
/*	padding: 0px 10px 0px 0px;*/
	height: 50px;



}

.left-nav{
/*	background: red;*/
	width: 70%;
	padding: 11px;
	list-style-type: none;
	justify-content: flex-start;
	gap: 30px;

}


.left-nav ul li{
	padding: 10px;

}

.left-nav li a{
	color: white;
	padding: 13px;
	font-weight: light;
	transition: 0.4s ease-out;
}

.left-nav li a:hover{
	background: grey;
	color: white;
}

.right-nav a{
	color: white;
	padding: 10px 15px;
	font-size: 1.2rem;

}

.right-nav a:hover{
	background: red;
	color: black;
}

#navmenu{
	display: none;
}

/*banner image section*/

.banner{
	background: url('img/asset 0.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
/*	overflow: hidden;*/
/*	position: absolute;*/
	min-height: 100vh;
	animation: changebg 20s infinite;

}

@keyframes changebg {
	0%{
		background-image: url('img/asset 0.jpeg');

	}

	50%{
		background-image: url('img/asset 1.jpeg');

	}

	100%{
		background-image: url('img/asset 2.jpeg');

	}
}


/*band section*/

.band{
	padding: 90px 20px 70px 20px;
	text-align: center;
}

.band-text{
/*	background: red;*/
	padding: 30px;
}

.band-text h1{
	font-family: var(--main-font);
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 2.2rem;
	margin-bottom: 20px;
}

.band-text span{
	font-size: 1.2rem;
	color: grey;
}

.band-text p{
	margin-top: 10px;
	line-height: 20px;
	text-align: justify;
	font-family: 'Poppins',sans-serif;
}


.band-img{
	font-family: var(--main-font);
	flex-wrap: wrap;

	justify-content: space-evenly;


}

.band-img-item{
	width: 30%;
	


}

.band-img-item h3{
		font-weight: lighter;
		font-size: 1rem;
}

.band-img-item img{
	max-width: 80%;
	border-radius: 6px;
/*	box-shadow: var(--main-shadow);*/
}




.tour{
	background: black;
	color: white;
	padding: 70px 20px 80px 20px;
/*	text-align: center;*/

}

.tour-text{
	text-align: center;
/*	max-width: 80%;*/

}

.tour-text h1{

	font-family: var(--main-font);
	letter-spacing: 2px;
	font-size: 2.5rem;
	font-weight: lighter;

}

.tour-text span{
	color: grey;

}


.tour-list{
	background:white;
	color: black;
	width:70%;
/*	border: 0.5px solid grey;*/
	margin: 0 auto;
	margin-bottom:30px;
	font-family: 'Poppins',sans-serif;
	font-weight: light;

}

.tour-list ul{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	list-style-type: none;
	min-width: 100%;
}



.tour-list ul li{
	width: 100%;
	border: 1px solid grey;
	padding: 10px;
}

.sold-out{
	padding: 3px 5px;
	font-weight: light;
	background: red;
	color: white;
}



.tour-card{
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	flex-wrap: wrap;


}


.tour-card-item{
	background: white;
	width: 30%;
	color: black;
	font-family: var(--main-font);


}

.tour-card-item img{
	width: 100%;
	background-size: cover;
}


.tour-card-item h4,span,p,a{
		padding: 10px 10px;

}

.tour-card-item span{
	color: grey;
}


.tour-card-item a{
	margin: 10px;
}



/*contact section*/

.contact{
	padding-block: 80px;
}


.contact-text{
	text-align: center;
	font-family: var(--main-font);
	margin-bottom: 60px;

}

.contact-text h1{
	letter-spacing: 3px;
	font-size: 2.4rem;
	font-weight: lighter;
	margin-bottom: 15px;
}

.contact-container{
	justify-content: space-between;
}

.contact-address{
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	font-size: 1.3rem;
	font-family: var(--main-font);
	font-weight: lighter;
}


.contact-form{
/*	background: red;*/
	padding: 20px;
	gap: 20px;
}

.contact-form input{
	margin: 10px 8px 8px 0px;
	width: 40%;
	border: 0.5px solid grey;
	padding: 8px 34px 8px 10px;
	font-size: 1rem;
}

.contact-form #message{
	width: 100%;
}

.contact-form a{
	text-align: center;
	display: block;
	width: 20%;
	margin-left: auto;
/*	margin-right: 20px;*/
}


.last-bg-image{
	background-size: cover;
	background-position: center;
}

.last-bg-image img{
	width: 100%;
}


/*footer section*/
footer{
	text-align: center;
	background: black;
	padding: 12px 24px;
	color: white;
	font-family: var(--main-font);
	font-weight: lighter;
	font-size: 1rem;
	margin-top: -10px;
}


